body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
}

.container {
    padding: 30px;
}

h1 {
    margin-bottom: 30px;
}

.zones-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.zone-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    color: black;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

    transition: 0.2s;
}

.zone-card:hover {
    transform: translateY(-5px);
}

.sensor-list {
    display: grid;
    gap: 20px;
}

.sensor-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-left: 6px solid #4caf50;
}

.sensor-card.alert {
    border-left: 6px solid red;
    background-color: #fff5f5;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select, button {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    font-weight: bold;
}

.success-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}